.block {
    background-color: #38E7FF;
    padding: 2rem;
    width: 4rem;
    color: #282c34;

    border: 2px solid #0b1d1f;
}

#vis-btn {
    background-color: #6aff00;
}

#reset-btn {
    background-color: #ffc800;
}

.btn {
    padding: 0.6rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: #282c34;

    box-shadow: 6px 6px 2px #141414;

    width: 100px;
}

.homepage {
    min-height: inherit;
    display: flex;
    place-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    color: #fff;
}

img {
    height: 400px;
}

.card {
    background-color: #16181d;
    box-shadow: 3px 3px 10px #16181d;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.card:hover {
    scale: 1.03
}

.d-f {
    display: flex;
}

.j-c {
    justify-content: center;
}

.f-c {
    flex-direction: column;
}

.g-2 {
    gap: 2rem;
}

.visualize-section {
    height: 100vh;
}

.arrayBlocks-section {
    margin: 2rem 0;
}

header {
    font-size: 2rem;
}

.buttons {
    justify-content: space-around;
    flex-wrap: wrap;
}

.bg-red {
    background-color: rgb(255, 55, 0);
}

.bg-green {
    background-color: #6aff00;
}