.block {
    background-color: #38E7FF;
    padding: 2rem;
    width: 4rem;
    color: #282c34;
}

#vis-btn {
    background-color: #ADFF00;
}

#reset-btn {
    background-color: #DCDCDC;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #282c34;
}

.button {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.homepage {
    min-height: inherit;
    display: flex;
    place-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    color: #fff;
}

img {
    height: 400px;
}

.card {
    background-color: #16181d;
    box-shadow: 3px 3px 10px #16181d;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.card:hover {
    scale: 1.03
}